[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
celery = "*"
flask = "*"
django-celery-beat = "*"
pip = "*"
install = "*"

[dev-packages]

[requires]
python_version = "3.9"
